NodeRed/HidroPunk.json
[
    {
        "id": "242589dbbe1cdf98",
        "type": "tab",
        "label": "Smart Hydroponic",
        "disabled": false,
        "info": "MQTT Broker: localhost:1883\nESP32 → publish: hydroponic/sensor\nESP32 ← subscribe: hydroponic/command",
        "env": []
    },
    {
        "id": "e1994373845b614b",
        "type": "mqtt in",
        "z": "242589dbbe1cdf98",
        "name": "📥 Sensor Data (ESP32)",
        "topic": "hydroponic/sensor",
        "qos": "0",
        "datatype": "auto",
        "broker": "6990e26b7c749c3e",
        "nl": false,
        "rap": true,
        "inputs": 0,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "5b8e5537b586de1c",
                "0e1eb49393d1cac7"
            ]
        ]
    },
    {
        "id": "5b8e5537b586de1c",
        "type": "json",
        "z": "242589dbbe1cdf98",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "ff3643287c7b17df"
            ]
        ]
    },
    {
        "id": "0e1eb49393d1cac7",
        "type": "debug",
        "z": "242589dbbe1cdf98",
        "name": "Debug Raw MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 380,
        "y": 60,
        "wires": []
    },
    {
        "id": "ff3643287c7b17df",
        "type": "function",
        "z": "242589dbbe1cdf98",
        "name": "Split Sensor Data",
        "func": "const p = msg.payload;\nconst suhu       = parseFloat(p.suhu       || 0);\nconst kelembaban = parseFloat(p.kelembaban  || 0);\nconst tinggi     = parseFloat(p.tinggi_air  || 0);\nconst status     = (p.status || 'UNKNOWN').toUpperCase();\nconst pompa      = p.pompa === true || p.pompa === 'true' || parseInt(p.pompa) === 1;\nconst mode       = p.mode || 'AUTO';\n\n// Simpan ke flow context\nflow.set('last_sensor', { suhu, kelembaban, tinggi, status, pompa, mode });\n\n// Label status tinggi air (jarak sensor→permukaan)\nlet labelAir = 'SIAGA ⚠️';\nif (tinggi <= 5)  labelAir = 'NORMAL ✅ (Penuh)';\nif (tinggi >= 20) labelAir = 'DARURAT 🚨 (Kosong)';\n\nreturn [\n  { payload: suhu },\n  { payload: kelembaban },\n  { payload: tinggi },\n  { payload: status + ' | Air: ' + labelAir },\n  { payload: pompa ? 'ON 🟢' : 'OFF 🔴' },\n  { payload: mode },\n  { payload: suhu,       topic: 'Suhu (°C)' },\n  { payload: kelembaban, topic: 'Kelembaban (%)' },\n  { payload: tinggi,     topic: 'Tinggi Air (cm)' }\n];",
        "outputs": 9,
        "noerr": 0,
        "x": 600,
        "y": 140,
        "wires": [
            [
                "67b0494dc0a287c4"
            ],
            [
                "01b16fdf033ce899"
            ],
            [
                "ed39ed3337b8c8a8"
            ],
            [
                "a0036071e1ce8bf3"
            ],
            [
                "7a40d71385c27429"
            ],
            [
                "7f09c869d6564a9f"
            ],
            [
                "48991d92db5fde9a"
            ],
            [
                "48991d92db5fde9a"
            ],
            [
                "48991d92db5fde9a"
            ]
        ]
    },
    {
        "id": "67b0494dc0a287c4",
        "type": "ui_gauge",
        "z": "242589dbbe1cdf98",
        "name": "Suhu",
        "group": "1a5092c84ae0db37",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "🌡️ Suhu",
        "label": "°C",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b7ff",
            "#00b7ff",
            "#ca0000"
        ],
        "seg1": "0",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 60,
        "wires": []
    },
    {
        "id": "01b16fdf033ce899",
        "type": "ui_gauge",
        "z": "242589dbbe1cdf98",
        "name": "Kelembaban",
        "group": "1a5092c84ae0db37",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "💧 Kelembaban",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#00b7ff",
            "#0033cc"
        ],
        "seg1": "0",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 120,
        "wires": []
    },
    {
        "id": "ed39ed3337b8c8a8",
        "type": "ui_gauge",
        "z": "242589dbbe1cdf98",
        "name": "Tinggi Air",
        "group": "1a5092c84ae0db37",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "🪣 Jarak Sensor→Air",
        "label": "cm",
        "format": "{{value}}",
        "min": "0",
        "max": "30",
        "colors": [
            "#00cc0e",
            "#fff700",
            "#ff004c"
        ],
        "seg1": "5",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 180,
        "wires": []
    },
    {
        "id": "a0036071e1ce8bf3",
        "type": "ui_text",
        "z": "242589dbbe1cdf98",
        "group": "f3ef3e2b470ba1a6",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Status Sistem",
        "label": "🔔 Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "7a40d71385c27429",
        "type": "ui_text",
        "z": "242589dbbe1cdf98",
        "group": "f3ef3e2b470ba1a6",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "Status Pompa",
        "label": "🔧 Pompa",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 300,
        "wires": []
    },
    {
        "id": "7f09c869d6564a9f",
        "type": "ui_text",
        "z": "242589dbbe1cdf98",
        "group": "f3ef3e2b470ba1a6",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "Mode Sistem",
        "label": "⚙️ Mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "48991d92db5fde9a",
        "type": "ui_chart",
        "z": "242589dbbe1cdf98",
        "name": "Grafik Suhu, Kelembaban & Tinggi Air",
        "group": "daae404e4544fe44",
        "order": 1,
        "width": "12",
        "height": "4",
        "label": "Historis Sensor",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Belum ada data...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ca0000",
            "#0033cc",
            "#00cc0e",
            "#ff9900",
            "#ff00cc",
            "#00ccff",
            "#880000",
            "#001f99",
            "#005500"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "08034ba7114c9ba7",
        "type": "ui_button",
        "z": "242589dbbe1cdf98",
        "name": "Mode AUTO",
        "group": "d6401f5c18748510",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "⚙️ Mode AUTO",
        "tooltip": "Pompa dikontrol otomatis oleh sensor",
        "color": "white",
        "bgcolor": "#2196f3",
        "className": "",
        "icon": "",
        "payload": "{\"command\":\"MODE_AUTO\"}",
        "payloadType": "str",
        "topic": "hydroponic/command",
        "topicType": "str",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "f8b01a4ab73c4016"
            ]
        ]
    },
    {
        "id": "e46d3ab80f6daa61",
        "type": "ui_button",
        "z": "242589dbbe1cdf98",
        "name": "Mode MANUAL",
        "group": "d6401f5c18748510",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "🔧 Mode MANUAL",
        "tooltip": "Kontrol pompa secara manual",
        "color": "white",
        "bgcolor": "#ff9800",
        "className": "",
        "icon": "",
        "payload": "{\"command\":\"MODE_MANUAL\"}",
        "payloadType": "str",
        "topic": "hydroponic/command",
        "topicType": "str",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "f8b01a4ab73c4016"
            ]
        ]
    },
    {
        "id": "6b244aa3fe0903e7",
        "type": "ui_button",
        "z": "242589dbbe1cdf98",
        "name": "Pompa ON",
        "group": "d6401f5c18748510",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "✅ Pompa ON",
        "tooltip": "Hanya efektif saat mode MANUAL",
        "color": "white",
        "bgcolor": "#4caf50",
        "className": "",
        "icon": "",
        "payload": "{\"command\":\"POMPA_ON\"}",
        "payloadType": "str",
        "topic": "hydroponic/command",
        "topicType": "str",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "f8b01a4ab73c4016"
            ]
        ]
    },
    {
        "id": "66e2b84e46879e79",
        "type": "ui_button",
        "z": "242589dbbe1cdf98",
        "name": "Pompa OFF",
        "group": "d6401f5c18748510",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "❌ Pompa OFF",
        "tooltip": "Hanya efektif saat mode MANUAL",
        "color": "white",
        "bgcolor": "#f44336",
        "className": "",
        "icon": "",
        "payload": "{\"command\":\"POMPA_OFF\"}",
        "payloadType": "str",
        "topic": "hydroponic/command",
        "topicType": "str",
        "x": 160,
        "y": 620,
        "wires": [
            [
                "f8b01a4ab73c4016"
            ]
        ]
    },
    {
        "id": "f8b01a4ab73c4016",
        "type": "function",
        "z": "242589dbbe1cdf98",
        "name": "Set Topic & Payload",
        "func": "// Pastikan payload berupa object\ntry {\n  if (typeof msg.payload === 'string') msg.payload = JSON.parse(msg.payload);\n} catch(e) {}\nmsg.topic = 'hydroponic/command';\nnode.log('Kirim perintah: ' + JSON.stringify(msg.payload));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 530,
        "wires": [
            [
                "189520315b0df2db",
                "4cac4c4f2da00b14"
            ]
        ]
    },
    {
        "id": "189520315b0df2db",
        "type": "mqtt out",
        "z": "242589dbbe1cdf98",
        "name": "📤 Kirim Perintah (ESP32)",
        "topic": "",
        "qos": "1",
        "retain": false,
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6990e26b7c749c3e",
        "x": 660,
        "y": 530,
        "wires": []
    },
    {
        "id": "4cac4c4f2da00b14",
        "type": "debug",
        "z": "242589dbbe1cdf98",
        "name": "Debug Command Out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 660,
        "y": 600,
        "wires": []
    },
    {
        "id": "8186d1ef9564489c",
        "type": "inject",
        "z": "242589dbbe1cdf98",
        "name": "Test: MODE_AUTO",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0,
        "topic": "",
        "payload": "{\"command\":\"MODE_AUTO\"}",
        "payloadType": "str",
        "x": 160,
        "y": 720,
        "wires": [
            [
                "f8b01a4ab73c4016"
            ]
        ]
    },
    {
        "id": "1ae841fc3d985219",
        "type": "inject",
        "z": "242589dbbe1cdf98",
        "name": "Test: MODE_MANUAL",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0,
        "topic": "",
        "payload": "{\"command\":\"MODE_MANUAL\"}",
        "payloadType": "str",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "f8b01a4ab73c4016"
            ]
        ]
    },
    {
        "id": "f1d3f6a5ecbdaace",
        "type": "inject",
        "z": "242589dbbe1cdf98",
        "name": "Test: POMPA_ON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0,
        "topic": "",
        "payload": "{\"command\":\"POMPA_ON\"}",
        "payloadType": "str",
        "x": 160,
        "y": 840,
        "wires": [
            [
                "f8b01a4ab73c4016"
            ]
        ]
    },
    {
        "id": "55deb90ea7a634cc",
        "type": "inject",
        "z": "242589dbbe1cdf98",
        "name": "Test: POMPA_OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0,
        "topic": "",
        "payload": "{\"command\":\"POMPA_OFF\"}",
        "payloadType": "str",
        "x": 160,
        "y": 900,
        "wires": [
            [
                "f8b01a4ab73c4016"
            ]
        ]
    },
    {
        "id": "fd83ed62017349a1",
        "type": "mqtt in",
        "z": "242589dbbe1cdf98",
        "name": "👁️ Monitor hydroponic/command",
        "topic": "hydroponic/command",
        "qos": "0",
        "datatype": "auto",
        "broker": "6990e26b7c749c3e",
        "nl": false,
        "rap": true,
        "inputs": 0,
        "x": 220,
        "y": 1000,
        "wires": [
            [
                "7f1d4c563927d079"
            ]
        ]
    },
    {
        "id": "7f1d4c563927d079",
        "type": "function",
        "z": "242589dbbe1cdf98",
        "name": "Format Log Perintah",
        "func": "let raw = msg.payload;\nlet cmd = '';\ntry {\n  let obj = typeof raw === 'string' ? JSON.parse(raw) : raw;\n  cmd = obj.command || JSON.stringify(obj);\n} catch(e) {\n  cmd = String(raw);\n}\nconst ts = new Date().toLocaleTimeString('id-ID', {timeZone:'Asia/Jakarta'});\nmsg.payload = '[' + ts + ' WIB] → ' + cmd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 1000,
        "wires": [
            [
                "40c1a964226f8364",
                "4eb13158bd174fa1"
            ]
        ]
    },
    {
        "id": "40c1a964226f8364",
        "type": "ui_text",
        "z": "242589dbbe1cdf98",
        "group": "f3ef3e2b470ba1a6",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "Log Perintah Terakhir",
        "label": "📋 Perintah Terakhir",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 720,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4eb13158bd174fa1",
        "type": "debug",
        "z": "242589dbbe1cdf98",
        "name": "Debug Monitor Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 720,
        "y": 1060,
        "wires": []
    },
    {
        "id": "6990e26b7c749c3e",
        "type": "mqtt-broker",
        "name": "MQTT Broker Lokal",
        "broker": "10.201.1.152",
        "port": "1883",
        "clientid": "nodered_hydro",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1a5092c84ae0db37",
        "type": "ui_group",
        "name": "📊 Data Sensor",
        "tab": "hydro_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f3ef3e2b470ba1a6",
        "type": "ui_group",
        "name": "🔔 Status Sistem",
        "tab": "hydro_tab",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "daae404e4544fe44",
        "type": "ui_group",
        "name": "📈 Grafik Historis",
        "tab": "hydro_tab",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "d6401f5c18748510",
        "type": "ui_group",
        "name": "🎛️ Kontrol Manual",
        "tab": "hydro_tab",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "hydro_tab",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "da4ce5867960d86d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]